@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}



body {

    font-family: 'Shadows Into Light', cursive;
    margin: 0px;
    color: #333333;

}

.container {

    padding: 0rem 1rem;
    
}

.container-center {

    max-width: 600px;
    margin: auto;
    padding-top: 1rem;
    

   

}

.navigation {

    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding-top: 1rem;
}

.footer{

    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: black;
    margin:auto;
    
 
 }

 .footer .footer-header{

    font-weight: bold;
    font-size: large;

}

.outputdisplaytext{

    font-weight: bold;

}

